/pestiline/__pycache__
/products/__pycache__
/products/migrations/__pycache__
/resume/migrations/__pycache__
/resume/__pycache__
/.vscode
db.sqlite3
pestiline/.env
/media
products/migrations/0011_order_orderitem.py
products/migrations/0010_alter_product_stock_and_more.py
products/migrations/0009_productimage.py
products/migrations/0008_sitesettings_otp_time_interval_and_more.py
products/migrations/0007_city_province_alter_user_options_user_phone_number_and_more.py
products/migrations/0006_alter_sitesettings_address_text_and_more.py
products/migrations/0005_sitesettings_address_text_sitesettings_link_address_and_more.py
products/migrations/0004_sitesettings_alter_productcomponent_options_and_more.py
products/migrations/0003_alter_product_options_productcomponent_quality_and_more.py
products/migrations/0002_product_productcomponent.py
products/migrations/0001_initial.py
products/migrations/0012_product_description_product_slug_product_visit_count.py
products/migrations/0013_product_is_free_shipping_product_time_tosend_and_more.py
products/migrations/0014_product_active_status.py
resume/migrations/0001_initial.py
/blog/__pycache__
blog/migrations/0001_initial.py
blog/migrations/0002_blogpost_view_count_category_banner_image_and_more.py
blog/migrations/0003_alter_postblock_options_blogpost_short_description_and_more.py
blog/migrations/__pycache__/0001_initial.cpython-313.pyc
blog/migrations/__pycache__/0002_blogpost_view_count_category_banner_image_and_more.cpython-313.pyc
blog/migrations/__pycache__/0003_alter_postblock_options_blogpost_short_description_and_more.cpython-313.pyc
blog/migrations/__pycache__/__init__.cpython-313.pyc
products/migrations/0015_sitesettings_bypass_for_staff_alter_order_status.py
products/migrations/0016_user_address_user_postal_code.py
products/migrations/0017_order_order_number.py
products/migrations/0018_messagesitesettings.py
products/migrations/0019_messagesitesettings_ta_new_user.py
products/migrations/0020_remove_sitesettings_link_prphone.py
products/migrations/0021_messagesitesettings_primary_line_number.py
products/migrations/0022_alter_messagesitesettings_ta_cancell_order_and_more.py
products/migrations/0023_user_prefered_notification.py
products/migrations/0024_sitesettings_bypass_for_superuser.py
products/migrations/0025_sitesettings_link_prphone.py
/seo/migrations/__pycache__
/seo/__pycache__
resume/migrations/0003_resume_related_user.py
resume/migrations/0002_alter_resume_resume_file.py
/blog/migrations/__pycache__
/products/templatetags/__pycache__
/staticfiles
blog/migrations/0004_category_banner_alt_alter_category_description.py
blog/migrations/0005_alter_postblock_options_blogpost_cover_image_alt_and_more.py
blog/migrations/0006_alter_blogpost_category_alter_postblock_block_type_and_more.py
blog/migrations/0007_blogpost_changefreq_blogpost_seo_priority.py
blog/migrations/0008_category_changefreq_category_seo_priority.py
products/migrations/0026_alter_product_active_status_and_more.py
products/migrations/0027_ticket_ticketmessage.py
/products/templatetags/__pycache__
products/migrations/0028_messagesitesettings_ta_new_ticket_and_more.py
products/migrations/0029_remove_ticketmessage_is_admin_reply_and_more.py
products/migrations/0030_alter_ticketmessage_attachment_notificationlog.py
products/migrations/0031_remove_notificationlog_target_address.py
products/migrations/0032_notificationlog_related_event.py
products/migrations/0033_alter_notificationlog_related_event.py
products/migrations/0034_product_changefreq_product_seo_priority.py
products/migrations/0035_alter_product_changefreq_alter_product_seo_priority.py
products/migrations/0036_product_updated_at_alter_product_active_status.py
products/migrations/0037_alter_product_active_status.py
products/migrations/0038_sitesettings_last_reset_date_and_more.py
products/migrations/0039_sitesettings_welcome_song_and_more.py
seo/migrations/0001_initial.py
seo/migrations/0002_staticpageseo_about_status_staticpageseo_ai_status_and_more.py
seo/migrations/0003_customseodata.py
seo/migrations/0004_alter_customseodata_options_and_more.py
products/templatetags/__pycache__/custom_filters.cpython-313.pyc
products/templatetags/__pycache__/custom_filters.cpython-313.pyc
products/templatetags/__pycache__/custom_filters.cpython-313.pyc
/products/templatetags/__pycache__
