<footer class="main-footer">
    <div class="footer-grid">
        <div class="footer-col">
            <h4>پستیلاین</h4>
            <p>ما متعهد هستیم که بهترین و تازه‌ترین پسته ایرانی را مستقیم از باغات خودمان به دست شما برسانیم.</p>
        </div>
        <div class="footer-col">
            <h4>دسترسی سریع</h4>
            <ul class="footer-links">
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#products">محصولات</a></li>
                <li><a href="#blog">وبلاگ آموزشی</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>ارتباط با ما</h4>
            <ul class="contact-list">
                <li><i class="fa-slab-press fa-regular fa-phone"></i> ۰۲۱-۸۸۸۸۸۸۸۸</li>
                <li><i class="fa-slab-press fa-regular fa-mobile-screen"></i> ۰۹۱۲-۰۰۰-۰۰۰۰</li>
                <li><i class="fa-slab-press fa-regular fa-location-dot"></i> تهران، ساختمان پستیلاین</li>
            </ul>
        </div>
        <div class="footer-col centered-col">
            <h4>نمادهای اعتماد</h4>
            <div class="trust-icons">
                <div class="trust-box">اینماد</div>
                <div class="trust-box">زرین‌پال</div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-bar">
        <div class="copyright-text">
            © کپی رایت تیم پستیلاین ۱۴۰۳ - تمامی حقوق محفوظ است.
        </div>
        <div class="developer-credit">
            <span>طراحی و توسعه : <i class="fa-slab-press fa-regular fa-code code-icon"></i>&nbsp;Ehsan Ramezani</span>
            
        </div>
    </div>
</footer>