<footer class="main-footer">
    <div class="footer-grid">
        <div class="footer-col">
            <h4>پستیلاین</h4>
            <p>ما متعهد هستیم که بهترین و تازه‌ترین پسته ایرانی را مستقیم از باغات خودمان به دست شما برسانیم.</p>
        </div>

        <div class="footer-col">
            <h4><i class="fa-slab-press fa-regular fa-link margin-left-5"></i> دسترسی سریع</h4>
            <ul class="footer-links">
                <li>
                    <a href="{% if request.path == '/' %}#{% else %}{% url 'index' %}{% endif %}">
                        <i class="fa-slab-press fa-regular fa-house"></i>
                        صفحه اصلی
                    </a>
                </li>
                <li>
                    <a href="{% if request.path == '/shop/' %}#{% else %}{% url 'shop' %}{% endif %}">
                        <i class="fa-slab-press fa-regular fa-cart-shopping"></i>
                        فروشگاه
                    </a>
                </li>
                <li>
                    <a href="{% if request.path == '/blog/' %}#{% else %}{% url 'blog:blog_index' %}{% endif %}">
                        <i class="fa-slab-press fa-regular fa-newspaper"></i>
                        وبلاگ آموزشی
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-slab-press fa-regular fa-headset"></i>
                        پشتیبانی
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-col">
            <h4><i class="fa-slab-press fa-regular fa-headset margin-left-5"></i> ارتباط با ما</h4>
            <ul class="footer-links">
                
                {% if site_settings.link_prphone %}
                <li>
                    <a href="tel:{{ site_settings.link_prphone }}">
                        <i class="fa-slab-press fa-regular fa-phone"></i>
                        {{ site_settings.link_prphone }}
                    </a>
                </li>
                {% endif %}

                {% if site_settings.link_phone1 %}
                <li>
                    <a href="tel:{{ site_settings.link_phone1 }}">
                        <i class="fa-slab-press fa-regular fa-mobile-screen"></i>
                        {{ site_settings.link_phone1 }}
                    </a>
                </li>
                {% endif %}

                {% if site_settings.link_phone2 %}
                <li>
                    <a href="tel:{{ site_settings.link_phone2 }}">
                        <i class="fa-slab-press fa-regular fa-mobile-screen"></i>
                        {{ site_settings.link_phone2 }}
                    </a>
                </li>
                {% endif %}

                {% if site_settings.link_mail %}
                <li>
                    <a href="mailto:{{ site_settings.link_mail }}">
                        <i class="fa-slab-press fa-regular fa-envelope"></i>
                        {{ site_settings.link_mail }}
                    </a>
                </li>
                {% endif %}

                {% if site_settings.address_text %}
                <li>
                    {% if site_settings.link_address %}
                    <a href="{{ site_settings.link_address }}" target="_blank">
                            <i class="fa-slab-press fa-regular fa-location-dot"></i>
                            {{ site_settings.address_text }}
                        </a>
                    {% else %}
                        <span>{{ site_settings.address_text }}</span>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="footer-col centered-col">
            <h4><i class="fa-solid fa-regular fa-shield-halved margin-left-5"></i> نمادهای اعتماد</h4>
            <div class="trust-icons">
                <div class="trust-box">اینماد</div>
                <div class="trust-box">زرین‌پال</div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-bar">
        <div class="copyright-text">
            © کپی رایت تیم پستیلاین ۱۴۰۳ - تمامی حقوق محفوظ است.
        </div>
        <div class="developer-credit">
            <a href="{% url 'resume_detail' 'Ehsan-Ramezani' %}">
                <span>طراحی و توسعه : <i class="fa-slab-press fa-regular fa-code code-icon"></i>&nbsp;Ehsan Ramezani</span>
            </a>
        </div>
    </div>
</footer>

