{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'products/css/Vazirmatn.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'products/css/all_awesome.css' %}">
        <link rel="stylesheet" href="{% static 'products/css/main.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="mobileMenuOverlay" class="mobile-menu-overlay"></div>
        <aside id="mobileSidebar" class="mobile-sidebar">
            <div class="sidebar-header">
                <div class="user-profile">
                    <div class="user-avatar">
                        <i class="fa-slab-press fa-regular fa-user"></i>
                    </div>
                    {% if user.is_authenticated %}<span>{{ user.get_full_name }}</span>{% else %}<span>کاربر میهمان</span>{% endif %}
                    
                </div>
                <span class="close-menu-btn" onclick="toggleMenu()">
                    <i class="fa-slab-press fa-regular fa-xmark"></i>
                </span>
            </div>
            
            <div class="sidebar-logo-container">
                <img src="{% static 'products/img/light-logo-second.svg' %}" alt="لوگو پستیلاین" class="sidebar-logo-img">
            </div>

            <ul class="sidebar-links">
                <li><a href="{% if request.path == '/' %}#{% else %}{% url 'index' %}{% endif %}" class="{% if request.path == '/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-house"></i> خانه</a></li>
                <li><a href="{% if request.path == '/shop/' %}#{% else %}{% url 'shop' %}{% endif %}" class="{% if request.path == '/shop/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-cart-shopping"></i> فروشگاه</a></li>
                <li><a href="#"><i class="fa-slab-press fa-regular fa-headset"></i>پشتیبانی</a></li>
                <li><a href="{% if request.path == '/blog/' %}#{% else %}{% url 'blog:blog_index' %}{% endif %}" class="{% if request.path == '/blog/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-newspaper"></i> وبلاگ پستیلاین</a></li>
                <li><a href="{% if request.path == '/about_us/' %}#{% else %}{% url 'about_us' %}{% endif %}" class="{% if request.path == '/about_us/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-address-card"></i> درباره ما</a></li>
            </ul>
            
            <div class="sidebar-footer">
                <button class="btn-sidebar-login" onclick="location.href='{% url 'dashboard' %}'">{% if user.is_authenticated %}ورود به پنل کاربری{% else %}ورود / عضویت{% endif %}</button>
                <p>نسخه 2.0.1 پستیلاین</p>
            </div>
        </aside>

        <header class="main-header">
            <div class="header-container">
                <span class="hamburger-icon" onclick="toggleMenu()">
                    <i class="fa-slab-press fa-regular fa-bars" style="font-size: 1.5rem;"></i>
                </span>
                
                <a href="{% if request.path == '/' %}#{% else %}{% url 'index' %}{% endif %}" class="header-logo-link mobile-hidden">
                    <img src="{% static 'products/img/light-logo.svg' %}" alt="لوگو پستیلاین" class="logo">
                </a>

                <nav class="desktop-nav">
                    <a href="{% if request.path == '/' %}#{% else %}{% url 'index' %}{% endif %}" class="{% if request.path == '/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-house"></i> خانه</a>
                    <a href="{% if request.path == '/shop/' %}#{% else %}{% url 'shop' %}{% endif %}" class="{% if request.path == '/shop/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-cart-shopping"></i> فروشگاه</a>
                    <a href="#"><i class="fa-slab-press fa-regular fa-headset"></i>پشتیبانی</a>
                    <a href="{% if request.path == '/blog/' %}#{% else %}{% url 'blog:blog_index' %}{% endif %}" class="{% if request.path == '/blog/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-newspaper"></i> وبلاگ پستیلاین</a>
                    <a href="{% if request.path == '/about_us/' %}#{% else %}{% url 'about_us' %}{% endif %}" class="{% if request.path == '/about_us/' %}active{% endif %}"><i class="fa-slab-press fa-regular fa-address-card"></i> درباره ما</a>
                </nav>

                <div class="header-actions">
                    <a href="{% url 'cart_page' %}" class="cart-icon">
                        <i class="fa-slab-press fa-regular fa-cart-shopping"></i>
                        <span class="cart-badge" id="cartBadge" style="{% if cart_count > 0 %}display: flex;{% else %}display: none;{% endif %}">
                            {{ cart_count }}
                        </span>
                    </a>
                    <a href="{% url 'dashboard' %}" class="btn-login-desktop">{% if not user.is_authenticated %}ورود / عضویت{% else %}ورود به پنل کاربری{% endif %}</a>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        {% include 'patterns/footer.html' %}
        <script src="{% static 'products/js/main.js' %}"></script>
        {%  block script %}{% endblock %}
    </body>
</html>